/* Nunito, SIL Open Font License 1.1. Incluída localmente para não contatar Google Fonts. */
@font-face{font-family:'Quintal Sans';src:url('/assets/nunito-regular.ttf') format('truetype');font-weight:200 500;font-style:normal;font-display:swap}
@font-face{font-family:'Quintal Sans';src:url('/assets/nunito-extrabold.ttf') format('truetype');font-weight:600 900;font-style:normal;font-display:swap}
@font-face{font-family:'Quintal Display';src:url('/assets/nunito-extrabold.ttf') format('truetype');font-weight:200 900;font-style:normal;font-display:swap}
